.container
	.row
		.page-header
			h1=title

			.navbar.navbar-default
			
				.collapse.navbar-collapse
					ul.nav.navbar-nav
						li
							a(href="/") 首页
						if user
							if(user.role>10)
								li.dropdown
									a.dropdown-toggle(data-toggle="dropdown") 电影
										span.caret
									ul.dropdown-menu
										li
											a(href="/admin/movie") 电影上传
										li
											a(href="/admin/movie/list") 电影列表
								li.dropdown
									a.dropdown-toggle(data-toggle="dropdown") 分类
										span.caret
									ul.dropdown-menu
										li
											a(href="/admin/category/list") 分类列表
								li.dropdown
									a.dropdown-toggle(data-toggle="dropdown") 用户
										span.caret
									ul.dropdown-menu
										li
											a(href="/user/list") 用户列表

.navbar.navbar-default.navbar-fixed-bottom
	.container
		.navbar-header
			a.navbar-brand(href="/") sharkslove
		if user
			p.navbar-text.navbar-right
				span 欢迎您,#{user.name}
				span &nbsp;|&nbsp;
				a.navbar-link(href="/logout") 注销				
		else
			p.navbar-text.navbar-right
				a.navbar-link(href="#",data-toggle="modal",data-target="#signupModal") 注册
				span &nbsp;|&nbsp;
				a.navbar-link(href="#",data-toggle="modal",data-target="#signinModal") 登录
#signupModal.modal.fade
	.modal-dialog
		.modal-content
			form(method="Post",action="/user/signup")
				.modal-header 注册
				.modal-body
					.form-group
						label(for="signupName") 用户名
						input#signupName.form-control(name="user[name]",type="text")
					.form-group
						label(for="signupPassword") 密码
						input#signupName.form-control(name="user[password]",type="password")
				.modal-footer
					button.btn.btn-default(type="button",data-dismiss="modal") 关闭
					button.btn.btn-success(type="submit") 提交
#signinModal.modal.fade
	.modal-dialog
		.modal-content
			form(method="Post",action="/user/signin")
				.modal-header 登录
				.modal-body
					.form-group
						label(for="signinName") 用户名
						input#signinName.form-control(name="user[name]",type="text")
					.form-group
						label(for="signinPassword") 密码
						input#signinName.form-control(name="user[password]",type="password")
				.modal-footer
					button.btn.btn-default(type="button",data-dismiss="modal") 关闭
					button.btn.btn-success(type="submit") 提交
